# Flask - Web Framework
Flask

# Flask-Cors - CORS Support
Flask-Cors

# python-dotenv - Environment Variables
python-dotenv

# PyTorch - Deep Learning Framework (CUDA 11.8 버전)
--find-links https://download.pytorch.org/whl/torch_stable.html
torch==1.10.0+cu113

# WhisperX - Speech Recognition Model
whisperx

# ffmpeg-python - Audio Processing
ffmpeg-python

# Speaker Diarization
pyannote.audio

#.\venv\Scripts\activate
# pip install -r requirements.txt