# Basic Dependencies
numpy
jinja2
networkx

# Flask - Web Framework
Flask
Flask-Cors

# Environment Variables
python-dotenv

# PyTorch - Deep Learning Framework
torch==2.0.1 --index-url https://download.pytorch.org/whl/cu118
torchvision==0.15.2 --index-url https://download.pytorch.org/whl/cu118
torchaudio==2.0.2 --index-url https://download.pytorch.org/whl/cu118
nvidia-cudnn-cu12

# WhisperX - Speech Recognition Model
whisperx

# Audio Processing
ffmpeg-python


# LangChain - LLM Framework
langchain
langchain-core
langchain-openai

# OpenAI - LLM Provider
openai

# Hugging Face - Required for WhisperX
huggingface-hub

# Dateparser
dateparser

# Vector Database
pinecone

# project bedrock
boto3

#.\venv\Scripts\activate
# pip install -r requirements.txt